#navigateBar{
    width: calc(100% - max(10vw, 100vw - 1200px));
    max-width: calc(1200px);
    margin: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #d5f2ff;

    padding: 0.95rem max(5vw, calc(50vw - 600px));
    .logo {
        display: block;
        text-decoration: none;
        color: #000;
        margin: 0;
        h1{
            margin: 0;
        }
    }

}