#mainPage{
    margin: auto;
    max-width: 90vw;

    .mainContent{
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        .buttons{
           display: flex;
           flex-direction: column; 
            margin-right: 3em;
            margin-bottom: 1em;
            justify-content: end;
           .forwardButton{
                cursor: pointer;
                height: 4rem;
                width: 4rem;
                padding-bottom: 0.5em;
           }
           .backwardButton{
                cursor: pointer;
                height: 4rem;
                width: 4rem;
           }
           .addButton{
                cursor: pointer;
                height: 4rem;
                width: 4rem;
                padding-bottom: 0.5em;
           }
        }
        .notice{
            position: absolute;
            z-index: 100;
            border-radius: 2rem;
            padding: 2rem;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            top: -1em;
            right :20em;
        }
        .diary{
            width: 90%;
            max-width: 800px;
            height: 450px;
            background-color: #fff;
            padding: 2rem;
            border-radius: 2rem;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow-y: scroll;
            .title{
                font-size: x-large;
                font-weight: 600;
                margin-bottom: 0em;
            }
            .line{
                margin: 1.5em 0em;
                width: 100%;
                border-top: 2px solid;
            }
        }
        .mbti{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            img{
                width: 23rem;
            }
            p{
                margin-top: 2rem;
                font-size: x-large;
                font-weight: bold;
            }
        }
    }
    .editor {
        display: none;
    }
}